:root {
  --ball-speed: 1s;
  --ball-size: 50px;
  --bar-width: 200px;
  --bar-height: 50px;
  --bar-speed: 5s;
  --bar-left: 20%;
}

* {
  box-sizing: border-box;
}

@keyframes slideRight {
  from { left: 0 }
  to { left: calc(100% - var(--ball-size)) }
}

@keyframes slideLeft {
  from { left: calc(100% - var(--ball-size)) }
  to { left: 0 }
}

@keyframes shrink {
  0% { width: var(--bar-width) }
  5% { width: calc(var(--bar-width) * 0.95) }
  10% { width: calc(var(--bar-width) * 0.9) }
  15% { width: calc(var(--bar-width) * 0.85) }
  20% { width: calc(var(--bar-width) * 0.8) }
  25% { width: calc(var(--bar-width) * 0.75) }
  30% { width: calc(var(--bar-width) * 0.7) }
  35% { width: calc(var(--bar-width) * 0.65) }
  40% { width: calc(var(--bar-width) * 0.6) }
  45% { width: calc(var(--bar-width) * 0.55) }
  50% { width: calc(var(--bar-width) * 0.5) }
  55% { width: calc(var(--bar-width) * 0.45) }
  60% { width: calc(var(--bar-width) * 0.4) }
  65% { width: calc(var(--bar-width) * 0.35) }
  70% { width: calc(var(--bar-width) * 0.3) }
  75% { width: calc(var(--bar-width) * 0.25) }
  80% { width: calc(var(--bar-width) * 0.25) }
  85% { width: calc(var(--bar-width) * 0.25) }
  90% { width: calc(var(--bar-width) * 0.25) }
  95% { width: calc(var(--bar-width) * 0.25) }
  100% { width: calc(var(--bar-width) * 0.25) }
}

body {
  margin: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: white;
}

main {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}

#score-area {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#ball {
  height: var(--ball-size);
  width: var(--ball-size);
  border-radius: 50%;
  background-color: white;
  display: flex;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 2;
}

div#area {
  display: flex;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
}

div#innerArea {
  display: flex;
  width: 100%;
  position: relative;
}

div#bar {
  background-color: green;
  width: var(--bar-width);
  height: var(--bar-height);
  position: absolute;
  left: var(--bar-left);
  animation: shrink var(--bar-speed) linear both;
}

.slideRight {
  animation: slideRight var(--ball-speed) linear both;
}

.slideLeft {
  animation: slideLeft var(--ball-speed) linear both;
}